* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #eee;
}

header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
}
header p {
    font-size: 20px;
    font-weight: 600;
}
main {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 5px #fff;
    padding: 40px 30px;
}
main h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
main .suggestions {
    margin-bottom: 20px;
}
main .suggestions ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main .suggestions ol li {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}
main .field {
    margin-bottom: 20px;
}
main .field input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}
main .question-state {
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
main .btns {
    display: flex;
    gap: 15px;
}
main button {
    display: block;
    width: fit-content;
    padding: 10px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 6px;
}
main button.reload {
    display: none;
    opacity: 0;
}